<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="DongYu.WebBase.System.Mapping.RelationMapper">

	<resultMap id="BaseMap" type="DongYu.WebBase.System.Entity.Relation">
        <id column="relationId" property="relationId" jdbcType="BIGINT"/>
        <result column="roleId" property="roleId" jdbcType="BIGINT"/>
        <result column="menuId" property="menuId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		relationId,roleId,menuId,status
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true"(主键自增)  keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="relationId" parameterType="DongYu.WebBase.System.Entity.Relation">
    <![CDATA[
        INSERT INTO tab_relation (
        	relationId,
        	roleId,
        	menuId,
        	status
        ) VALUES (
        	#{relationId,jdbcType=BIGINT},
        	#{roleId,jdbcType=BIGINT},
        	#{menuId,jdbcType=BIGINT},
        	#{status,jdbcType=VARCHAR}
        )
    ]]>
	<!--	
		oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
		DB2: order="BEFORE"" values nextval for sequenceName
	<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
		SELECT sequenceName.nextval AS ID FROM DUAL 
       </selectKey>
	-->
	</insert>
    
	<update id="update" parameterType="DongYu.WebBase.System.Entity.Relation">
        UPDATE tab_relation 
        <set >
	         <if test="roleId != null" >
	         <![CDATA[
	              roleId =#{roleId,jdbcType=BIGINT},
             ]]>
             </if>
	         <if test="menuId != null" >
	         <![CDATA[
	              menuId =#{menuId,jdbcType=BIGINT},
             ]]>
             </if>
	         <if test="status != null" >
	         <![CDATA[
	              status =#{status,jdbcType=VARCHAR}
             ]]>
             </if>
	    </set>
	     <![CDATA[
        WHERE 
        	relationId = #{relationId}  	        
 		]]>
	</update>



    <!--传入id, 测试是否支持主键非id  -->
    <delete id="deleteById" parameterType="DongYu.WebBase.System.Entity.Relation">
    <![CDATA[
        DELETE FROM tab_relation
        WHERE
        relationId = #{relationId} 
    ]]>
    </delete>

	<delete id="deleteByMenuIdAndRoleId" parameterType="DongYu.WebBase.System.Entity.Relation">
			DELETE FROM tab_relation
			<where >
			<if test="menuId!= null" >
		  		AND menuId=#{menuId}
		  	</if>
		  	<if test="roleId!= null" >
		  		AND roleId=#{roleId}
		  	</if>
		  	</where >
	</delete>


    <!--传入id, 测试是否支持主键非id  -->
    <select id="findOne" resultMap="DongYu.WebBase.System.Mapping.RelationMapper.BaseMap" parameterType="DongYu.WebBase.System.Entity.Relation" >
		SELECT <include refid="DongYu.WebBase.System.Mapping.RelationMapper.columns" />
	    <![CDATA[
		    FROM tab_relation
		]]>  
		<include refid="DongYu.WebBase.System.Mapping.RelationMapper.findWhere"/>
	</select>
	
	<select id="getCount" resultType="java.lang.Long">
		<![CDATA[
		SELECT COUNT(*) FROM tab_relation
	  	]]>  
		<include refid="DongYu.WebBase.System.Mapping.RelationMapper.findWhere"/>
	</select>
	
	<select id="findPage" resultMap="DongYu.WebBase.System.Mapping.RelationMapper.BaseMap">
		SELECT <include refid="DongYu.WebBase.System.Mapping.RelationMapper.columns" />
 	    <![CDATA[
		    FROM tab_relation
		]]> 
		<include refid="DongYu.WebBase.System.Mapping.RelationMapper.findPageWhere"/>
      	<if test="orderBy != null" >${orderBy}</if>
      	<if test="orderBy == null" >
        	ORDER BY relationId DESC
      	</if>
      	<if test="(rowBounds != null) &amp;&amp; (rowBounds.limit != 2147483647)" >
      		LIMIT ${rowBounds.offset} ,${rowBounds.limit}
      	</if>
	</select>


	<select id="findAllByRoleId" resultMap="DongYu.WebBase.System.Mapping.RelationMapper.BaseMap">
		SELECT <include refid="DongYu.WebBase.System.Mapping.RelationMapper.columns" />
		<![CDATA[
		    FROM tab_relation
		]]>
		where roleId = #{roleId}
	</select>
	
	<!--构建sqlWhere  -->
 	<sql id="findWhere">
		<where>
			<if test="relationId!= null" >
		  		AND relationId=#{relationId,jdbcType=BIGINT} 
		  	</if>
			<if test="roleId!= null" >
		  		AND roleId=#{roleId,jdbcType=BIGINT} 
		  	</if>
			<if test="menuId!= null" >
		  		AND menuId=#{menuId,jdbcType=BIGINT} 
		  	</if>
			<if test="status!= null" >
		  		AND status=#{status,jdbcType=VARCHAR} 
		  	</if>
		</where>
	</sql>
	
	<!--构建sqlWhere  -->
 	<sql id="findPageWhere">
		<where>
			<if test="record.relationId!= null" >
		  		AND relationId=#{record.relationId,jdbcType=BIGINT} 
		  	</if>
			<if test="record.roleId!= null" >
		  		AND roleId=#{record.roleId,jdbcType=BIGINT} 
		  	</if>
			<if test="record.menuId!= null" >
		  		AND menuId=#{record.menuId,jdbcType=BIGINT} 
		  	</if>
			<if test="record.status!= null" >
		  		AND status=#{record.status,jdbcType=VARCHAR} 
		  	</if>
		</where>
	</sql>
</mapper>

