<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<mvc:annotation-driven >
		<mvc:message-converters>  
		    <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">  
		        <property name="objectMapper" value="#{springDateJsonUtil.mapper}"></property>
                <property name="supportedMediaTypes">  
	               <list>  
	                   <value>text/json;charset=UTF-8</value>  
	               </list>  
	           </property>
		    </bean>  
		</mvc:message-converters>
     </mvc:annotation-driven>
     <context:component-scan base-package="DongYu.WebBase.System.Controller"/>
     <!-- 访问静态资源 -->
     <mvc:resources mapping="/**" location="/" />
     
    <!-- json视图对象 -->
    <bean id="beanNameViewResolver"
    	class="org.springframework.web.servlet.view.BeanNameViewResolver">
    	<property name="order" value="1" />
    </bean>
    <bean id="jsonView"	class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
   		<property name="contentType" value="text/html;charset=UTF-8" />
    </bean> 
    <!--viewResolver config begin  -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 	    <property name="viewClass"
            value="DongYu.WebBase.System.Utils.IcomJstlView" />
		<property name="order" value="0"/>
		<property name="prefix" value="/manage/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- <bean id="beetlViewResolver" class="org.beetl.ext.spring.BeetlSpringViewResolver">
		<property name="order" value="1" />
		<property name="contentType" value="text/html;charset=UTF-8"></property>
		<property name="prefix" value="/WEB-INF/tpl/"></property>
		<property name="suffix" value=".tpl"></property>
	</bean> 
	<bean id="beetlConfig" 
	      class="org.beetl.ext.spring.BeetlGroupUtilConfiguration"
		  init-method="init">
		<property name="root" value="/" />
	</bean> -->
	<!--viewResolver config end  -->

	<!--启用shiro注解 -->
	<!--<bean-->
			<!--class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"-->
			<!--depends-on="lifecycleBeanPostProcessor">-->
		<!--<property name="proxyTargetClass" value="true" />-->
	<!--</bean>-->
	<!--<bean-->
			<!--class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">-->
		<!--<property name="securityManager" ref="securityManager" />-->
	<!--</bean>-->

	<!-- 控制器异常处理 -->
	<bean id="exceptionHandlerExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
	</bean>
	<bean class="DongYu.WebBase.System.Shiro.DefaultExceptionHandler"/>


	<!-- 3. 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<!-- 20M -->
		<property name="maxUploadSize" value="20971520" />
		<property name="uploadTempDir" value="upload/temp" />
	</bean>
	<!-- I18N config begin -->
<!-- 	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver" /> -->
	<!-- I18N config end -->
</beans>