<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="DongYu.WebBase.System.Mapping.RoleMapper">

	<resultMap id="BaseMap" type="DongYu.WebBase.System.Entity.Role">
        <id column="roleId" property="roleId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="createUser" property="createUser" jdbcType="VARCHAR"/>
        <result column="updateUser" property="updateUser" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		roleId,name,description,sort,status,createTime,updateTime,createUser,updateUser
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true"(主键自增)  keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="roleId" parameterType="DongYu.WebBase.System.Entity.Role">
    <![CDATA[
        INSERT INTO tab_role (
        	roleId,
        	name,
        	description,
        	sort,
        	status,
        	createTime,
        	updateTime,
        	createUser,
        	updateUser
        ) VALUES (
        	#{roleId,jdbcType=BIGINT},
        	#{name,jdbcType=VARCHAR},
        	#{description,jdbcType=VARCHAR},
        	#{sort,jdbcType=INTEGER},
        	#{status,jdbcType=VARCHAR},
        	#{createTime,jdbcType=TIMESTAMP},
        	#{updateTime,jdbcType=TIMESTAMP},
        	#{createUser,jdbcType=VARCHAR},
        	#{updateUser,jdbcType=VARCHAR}
        )
    ]]>
	<!--	
		oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
		DB2: order="BEFORE"" values nextval for sequenceName
	<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
		SELECT sequenceName.nextval AS ID FROM DUAL 
       </selectKey>
	-->
	</insert>
    
	<update id="update" parameterType="DongYu.WebBase.System.Entity.Role">
        UPDATE tab_role 
        <set >
	         <if test="name != null" >
	         <![CDATA[
	              name =#{name,jdbcType=VARCHAR},
             ]]>
             </if>
	         <if test="description != null" >
	         <![CDATA[
	              description =#{description,jdbcType=VARCHAR},
             ]]>
             </if>
	         <if test="sort != null" >
	         <![CDATA[
	              sort =#{sort,jdbcType=INTEGER},
             ]]>
             </if>
	         <if test="status != null" >
	         <![CDATA[
	              status =#{status,jdbcType=VARCHAR},
             ]]>
             </if>
	         <if test="createTime != null" >
	         <![CDATA[
	              createTime =#{createTime,jdbcType=TIMESTAMP},
             ]]>
             </if>
	         <if test="updateTime != null" >
	         <![CDATA[
	              updateTime =#{updateTime,jdbcType=TIMESTAMP},
             ]]>
             </if>
	         <if test="createUser != null" >
	         <![CDATA[
	              createUser =#{createUser,jdbcType=VARCHAR},
             ]]>
             </if>
	         <if test="updateUser != null" >
	         <![CDATA[
	              updateUser =#{updateUser,jdbcType=VARCHAR}
             ]]>
             </if>
	    </set>
	     <![CDATA[
        WHERE 
        	roleId = #{roleId}
        	and `roleId` != "1"
 		]]>
	</update>

    <!--传入id, 测试是否支持主键非id  -->
    <delete id="deleteById" parameterType="DongYu.WebBase.System.Entity.Role">
    <![CDATA[
        DELETE FROM tab_role
        WHERE
        roleId = #{roleId}
          and `name` != "超级管理员"
    ]]>
    </delete>
    
    <!--传入id, 测试是否支持主键非id  -->
    <select id="findOne" resultMap="DongYu.WebBase.System.Mapping.RoleMapper.BaseMap" parameterType="DongYu.WebBase.System.Entity.Role" >
		SELECT <include refid="DongYu.WebBase.System.Mapping.RoleMapper.columns" />
	    <![CDATA[
		    FROM tab_role
		]]>  
		<include refid="DongYu.WebBase.System.Mapping.RoleMapper.findWhere"/>
	</select>
	
	<select id="getCount" resultType="java.lang.Long">
		<![CDATA[
		SELECT COUNT(*) FROM tab_role
	  	]]>  
		<include refid="DongYu.WebBase.System.Mapping.RoleMapper.findWhere"/>
	</select>
	
	<select id="findPage" resultMap="DongYu.WebBase.System.Mapping.RoleMapper.BaseMap">
		SELECT <include refid="DongYu.WebBase.System.Mapping.RoleMapper.columns" />
 	    <![CDATA[
		    FROM tab_role
		]]> 
		<include refid="DongYu.WebBase.System.Mapping.RoleMapper.findPageWhere"/>
      	<if test="orderBy != null" >${orderBy}</if>
      	<if test="orderBy == null" >
        	ORDER BY roleId DESC
      	</if>
      	<if test="(rowBounds != null) &amp;&amp; (rowBounds.limit != 2147483647)" >
      		LIMIT ${rowBounds.offset} ,${rowBounds.limit}
      	</if>
	</select>
	
	<!--构建sqlWhere  -->
 	<sql id="findWhere">
		<where>
			<if test="roleId!= null" >
		  		AND roleId=#{roleId,jdbcType=BIGINT} 
		  	</if>
			<if test="name!= null" >
		  		AND name=#{name,jdbcType=VARCHAR} 
		  	</if>
			<if test="description!= null" >
		  		AND description=#{description,jdbcType=VARCHAR} 
		  	</if>
			<if test="sort!= null" >
		  		AND sort=#{sort,jdbcType=INTEGER} 
		  	</if>
			<if test="status!= null" >
		  		AND status=#{status,jdbcType=VARCHAR} 
		  	</if>
			<if test="createTime!= null" >
		  		AND createTime=#{createTime,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="createTimeBegin!= null" >
		  		AND createTime&gt;=#{createTimeBegin,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="createTimeEnd!= null" >
		  		AND createTime&lt;=#{createTimeEnd,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="updateTime!= null" >
		  		AND updateTime=#{updateTime,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="updateTimeBegin!= null" >
		  		AND updateTime&gt;=#{updateTimeBegin,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="updateTimeEnd!= null" >
		  		AND updateTime&lt;=#{updateTimeEnd,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="createUser!= null" >
		  		AND createUser=#{createUser,jdbcType=VARCHAR} 
		  	</if>
			<if test="updateUser!= null" >
		  		AND updateUser=#{updateUser,jdbcType=VARCHAR} 
		  	</if>
		</where>
	</sql>
	
	<!--构建sqlWhere  -->
 	<sql id="findPageWhere">
		<where>
			<if test="record.roleId!= null" >
		  		AND roleId=#{record.roleId,jdbcType=BIGINT} 
		  	</if>
			<if test="record.name!= null" >
		  		AND name=#{record.name,jdbcType=VARCHAR} 
		  	</if>
			<if test="record.description!= null" >
		  		AND description=#{record.description,jdbcType=VARCHAR} 
		  	</if>
			<if test="record.sort!= null" >
		  		AND sort=#{record.sort,jdbcType=INTEGER} 
		  	</if>
			<if test="record.status!= null" >
		  		AND status=#{record.status,jdbcType=VARCHAR} 
		  	</if>
			<if test="record.createTime!= null" >
		  		AND createTime=#{record.createTime,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="record.createTimeBegin!= null" >
		  		AND createTime&gt;=#{record.createTimeBegin,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="record.createTimeEnd!= null" >
		  		AND createTime&lt;=#{record.createTimeEnd,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="record.updateTime!= null" >
		  		AND updateTime=#{record.updateTime,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="record.updateTimeBegin!= null" >
		  		AND updateTime&gt;=#{record.updateTimeBegin,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="record.updateTimeEnd!= null" >
		  		AND updateTime&lt;=#{record.updateTimeEnd,jdbcType=TIMESTAMP} 
		  	</if>
			<if test="record.createUser!= null" >
		  		AND createUser=#{record.createUser,jdbcType=VARCHAR} 
		  	</if>
			<if test="record.updateUser!= null" >
		  		AND updateUser=#{record.updateUser,jdbcType=VARCHAR} 
		  	</if>
		</where>
	</sql>
</mapper>

