<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="DongYu.WebBase.System.Mapping.RoleUserRelationMapper">

	<resultMap id="BaseMap" type="DongYu.WebBase.System.Entity.RoleUserRelation">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="roleId" property="roleId" jdbcType="BIGINT"/>
        <result column="userId" property="userId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,roleId,userId,status
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true"(主键自增)  keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="DongYu.WebBase.System.Entity.RoleUserRelation">
    <![CDATA[
        INSERT INTO tab_role_user_relation (
        	id,
        	roleId,
        	userId,
        	status
        ) VALUES (
        	#{id,jdbcType=BIGINT},
        	#{roleId,jdbcType=BIGINT},
        	#{userId,jdbcType=BIGINT},
        	#{status,jdbcType=VARCHAR}
        )
    ]]>
	<!--	
		oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
		DB2: order="BEFORE"" values nextval for sequenceName
	<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
		SELECT sequenceName.nextval AS ID FROM DUAL 
       </selectKey>
	-->
	</insert>
    
	<update id="update" parameterType="DongYu.WebBase.System.Entity.RoleUserRelation">
        UPDATE tab_role_user_relation 
        <set >
	         <if test="roleId != null" >
	         <![CDATA[
	              roleId =#{roleId,jdbcType=BIGINT},
             ]]>
             </if>
	         <if test="userId != null" >
	         <![CDATA[
	              userId =#{userId,jdbcType=BIGINT},
             ]]>
             </if>
	         <if test="status != null" >
	         <![CDATA[
	              status =#{status,jdbcType=VARCHAR}
             ]]>
             </if>
	    </set>
	     <![CDATA[
        WHERE 
        	id = #{id}  	        
 		]]>
	</update>

    <!--传入id, 测试是否支持主键非id  -->
    <delete id="deleteById" parameterType="DongYu.WebBase.System.Entity.RoleUserRelation">
    <![CDATA[
        DELETE FROM tab_role_user_relation
    ]]>
		<include refid="DongYu.WebBase.System.Mapping.RoleUserRelationMapper.findWhere"/>


	</delete>

	<delete id="deleteByRoleIdAndUserId" parameterType="DongYu.WebBase.System.Entity.RoleUserRelation">
    <![CDATA[
        DELETE FROM tab_role_user_relation
    ]]>
       <where>
      	    <if test="userId!= null" >
		  		 userId = #{userId}
		  	</if>
		  	<if test="roleId!= null" >
		  		AND roleId =  #{roleId}
		  	</if>
	   </where>
    </delete>


	<!--传入id, 测试是否支持主键非id  -->
    <select id="findOne" resultMap="DongYu.WebBase.System.Mapping.RoleUserRelationMapper.BaseMap" parameterType="DongYu.WebBase.System.Entity.RoleUserRelation" >
		SELECT <include refid="DongYu.WebBase.System.Mapping.RoleUserRelationMapper.columns" />
	    <![CDATA[
		    FROM tab_role_user_relation
		]]>  
		<include refid="DongYu.WebBase.System.Mapping.RoleUserRelationMapper.findWhere"/>
	</select>
	
	<select id="getCount" resultType="java.lang.Long">
		<![CDATA[
		SELECT COUNT(*) FROM tab_role_user_relation
	  	]]>  
		<include refid="DongYu.WebBase.System.Mapping.RoleUserRelationMapper.findWhere"/>
	</select>
	
	<select id="findPage" resultMap="DongYu.WebBase.System.Mapping.RoleUserRelationMapper.BaseMap">
		SELECT <include refid="DongYu.WebBase.System.Mapping.RoleUserRelationMapper.columns" />
 	    <![CDATA[
		    FROM tab_role_user_relation
		]]> 
		<include refid="DongYu.WebBase.System.Mapping.RoleUserRelationMapper.findPageWhere"/>
      	<if test="orderBy != null" >${orderBy}</if>
      	<if test="orderBy == null" >
        	ORDER BY id DESC
      	</if>
      	<if test="(rowBounds != null) &amp;&amp; (rowBounds.limit != 2147483647)" >
      		LIMIT ${rowBounds.offset} ,${rowBounds.limit}
      	</if>
	</select>


	<select id="findAllByRoleIds" resultType="DongYu.WebBase.System.Entity.RoleUserRelation">
		SELECT <include refid="DongYu.WebBase.System.Mapping.RoleUserRelationMapper.columns" />
		<![CDATA[
		    FROM tab_role_user_relation
		]]>
		<if test="list!= null" >
			where roleId in
			<foreach collection="list" index="index" item="i" open="(" separator="," close=")">
				#{i}
			</foreach>
		</if>

	</select>



	<!--构建sqlWhere  -->
 	<sql id="findWhere">
		<where>
			<if test="id!= null" >
		  		AND id=#{id,jdbcType=BIGINT} 
		  	</if>
			<if test="roleId!= null" >
		  		AND roleId=#{roleId,jdbcType=BIGINT} 
		  	</if>
			<if test="userId!= null" >
		  		AND userId=#{userId,jdbcType=BIGINT} 
		  	</if>
			<if test="status!= null" >
		  		AND status=#{status,jdbcType=VARCHAR} 
		  	</if>
		</where>
	</sql>
	
	<!--构建sqlWhere  -->
 	<sql id="findPageWhere">
		<where>
			<if test="record.id!= null" >
		  		AND id=#{record.id,jdbcType=BIGINT} 
		  	</if>
			<if test="record.roleId!= null" >
		  		AND roleId=#{record.roleId,jdbcType=BIGINT} 
		  	</if>
			<if test="record.userId!= null" >
		  		AND userId=#{record.userId,jdbcType=BIGINT} 
		  	</if>
			<if test="record.status!= null" >
		  		AND status=#{record.status,jdbcType=VARCHAR} 
		  	</if>
		</where>
	</sql>
</mapper>

